@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* General body styling */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fdfbfc; /* Light background */
  color: #142c3b; /* Dark text color */
  margin: 0;
  padding: 30px 100px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

/* Table styling */
table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fdfbfc; /* Light background */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

table, th, td {
  border: 1px solid #142c3b; /* Border color */
}

th, td {
  padding: 12px;
  text-align: left;
}

/* Header row styling */
th {
  background-color: #142c3b; /* Dark background for header */
  color: #fdfbfc; /* Light text for header */
  text-transform: uppercase;
  font-size: 1.1rem;
  text-align: center;
}

/* Data row styling */
td {
  background-color: #ffffff; /* White background for table data */
  color: #142c3b; /* Dark text */
}

/* Hover effect for rows */
tr:hover td {
  background-color: rgba(245, 147, 68, 0.2); /* Darker orange hover effect */
}

/* Button styling inside the Actions column */
button {
  background-color: rgb(245, 147, 68); /* Button orange color */
  color: #fdfbfc; /* White text on the button */
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

/* Separate styles for update and delete buttons */
#update-btn {
  margin-right: 20px;
}

#delete-btn {
  background-color: rgb(166, 0, 33); /* Red for delete */
}

button:hover {
  background-color: rgba(245, 147, 68, 0.8); /* Darker orange on hover */
}

/* H1 heading styling */
h1 {
  color: #142c3b;
  text-align: center;
  margin-bottom: 20px;
}
