@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


body{
    margin:0;
    padding:4px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(152, 135, 135, 0.618),rgba(76, 73, 73, 0.234)),url("/Image/Backgg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Montserrat", sans-serif;
    /*background-image: url(Image/Backgg.jpg);*/
    
}

img{
    margin-right:40px;
}
.details h1{
    font-size: large;
    color: cornflowerblue;
    text-align: center;
}
.details h4{
    color:black;
}

.payment{
    justify-content: space-around;
    max-width: 1200px;
    width: 40% 60%;
    margin-bottom: 40px;;
}

.details{
    background-color: #fff;
    border: 5px solid rgb(235, 224, 224);
    border-radius: 2px;
    height: 90%;
    width:40%;
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.details button{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius:10px;
    margin-bottom: 20px;
    margin-left:auto;
    padding:10px;
    cursor:pointer;
    align-content: center;
}

.details h3,h4{
    color:rgb(199, 8, 186);
    text-align: center;
}


